/### do not change footer
-$furl       =$url+$index+$srcmedium[0]+$content[0]+$content[6]+$campaign
-$fgaranties =$url+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[7]+$campaign
-$flivraison =$url+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[8]+$campaign
-$fpaiement  =$url+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[9]+$campaign
/### do not change mentions
-$CGV      =$url+$haconfiance[0]+$haconfiance[4]+$srcmedium[0]+$content[0]+$content[10]+$campaign
-$lcontact =$url+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[11]+$campaign
-$ldesabo  =$url+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[12]+$campaign