/### txtPreHeader + $campaign
-$txtheader = "Il est temps de commencer à préparer votre Décoration de Noël";
-$campaign  ="&utm_campaign=1015_deco_Noel";
/### do not change content link
-$url       ="http://www.tempsl.fr/fr/";
-$index     ="index.aspx";
-$srcmedium =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"];
-$content   =["&utm_content=","url","garantie","livraison","paiement","contact","desabo"];
/### do not change footer
-$haconfiance   =["achat_confiance/","garanties.aspx","informations-livraison.aspx","paiement-securise.aspx"];
/### do not change mentions
-$contactdesabo =["tempsl_et_vous/contact.aspx?val=A","animation/DesinscriptionNewsletter.aspx"];

/### content link
-$link_slice1       = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1126&utm_source=NL&utm_medium=email&utm_content=accroche"+$campaign;# accroche
-$link_slice2_1     = "http://www.tempsl.fr/fr/index.aspx?utm_source=NL&utm_medium=email&utm_content=logo"+$campaign;# logo
-$link_slice2_2_1   = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1126&utm_source=NL&utm_medium=email&utm_content=accroche"+$campaign;# accroche
-$link_slice2_2_2_1 = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1126&utm_source=NL&utm_medium=email&utm_content=accroche"+$campaign;# vide! sous accroche
-$link_slice2_2_2_2 = "http://www.tempsl.fr/fr/maison-deco/no-l/bougeoir-ange/7591217.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;# pk2
-$link_slice3_1     = "http://www.tempsl.fr/fr/maison-deco/no-l/2-sapins-cire-LED/9639311.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;# pk1
-$link_slice3_2     = "http://www.tempsl.fr/fr/maison-deco/no-l/bougeoir-ange/7591217.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;# pk2
/ -$link_slice4_1     = ""+$campaign;# vide gch btn
-$link_slice4_2     = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1126&utm_source=NL&utm_medium=email&utm_content=bouton"+$campaign;# btn entrez vite
/ -$link_slice4_3     = ""+$campaign;# vide dr btn
-$link_slice5_1     = "http://www.tempsl.fr/fr/maison-deco/no-l/pere-noel-jongleur/9654310.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;# pk3
-$link_slice5_2     = "http://www.tempsl.fr/fr/maison-deco/no-l/2-pochettes-chouette/9590316.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;# pk4
-$link_slice6       = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=1126&utm_source=NL&utm_medium=email&utm_content=bouton"+$campaign;# btn rayon
-$link_insert_kdo       = "http://www.tempsl.fr/fr/animation/presentation-cadeaux.aspx?utm_source=NL&utm_medium=email&utm_content=kdo"+$campaign;# insertKDO
/### alt + title
-$title            = "TEMPS L";
-$alt_slice1       = "La boutique de Noël";# accroche
-$alt_slice2_1     = "TEMPS L";# logo
-$alt_slice2_2_1   = "vous ouvre sa porte !";# accroche
-$alt_slice2_2_2_1 = "";# vide! sous accroche
-$alt_slice2_2_2_2 = "bougeoir ange";# pk2
-$alt_slice3_1     = "2 sapins cire LED";# pk1
-$alt_slice3_2     = "";# pk2
-$alt_slice4_1     = "";# vide gch btn
-$alt_slice4_2     = "Entrez vite !";# btn entrez vite
-$alt_slice4_3     = "";# vide dr btn
-$alt_slice5_1     = "père Noel jongleur";# pk3
-$alt_slice5_2     = "2 pochettes chouette";# pk4
-$alt_slice6       = "Des centaines d’idées à découvrir";# btn rayon
-$alt_insert_kdo   = "et recevez vos CADEAUX : Le Lot de 3 Plaids GRATUIT* + Didoo Le Nounours Tendresse 4€ seulement dont 3€ reversés à l’UNICEF";# btn rayon

/### do not change footer
-$furl       =$url+$index+$srcmedium[0]+$content[0]+$content[1]+$campaign;
-$fgaranties =$url+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign;
-$flivraison =$url+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign;
-$fpaiement  =$url+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign;
/### do not change mentions
-$lcontact =$url+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[5]+$campaign;
-$ldesabo  =$url+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[6]+$campaign;