-date         = "1016"
-campaignName = "Deco_Noel"
-$vartxtcolor = "#FF3300"

-$campaign = "&utm_campaign=#{date}_#{campaignName}"
-$miror    = "News_"+"#{campaignName}_#{date}"
/ layout
-$imgSrc = "http://www.webdesignord.fr/domoti/TL/images/"
-$imgSrc = "images/"

-$white      = "#FFFFFF"
-$varbgcolor = $white
/ ID rayon
- $IDray = { # ...,
  fr: "1364",
  bf: "1363",
  bv: "1367",
  nl: "1362",
  de: "1366",
  uk: "1365"}
  
/ remplir si mention supplementaire
- $legalplus = { # ...,
  bf: "",
  bv: "",
  de: "",
  fr: "",
  nl: "",
  uk: ""}

/ LAYOUT
- $shadLR_H = 1300

/ main nav
-$altunivers = ["CUISINE","ENTRETIEN ET RANGEMENT","SANTE ET BEAUTE","MAISON ET DECO","LOISIRS","VETEMENTS ET ACCESSOIRES"]

/ code KDO footer
- $code = "XXXX"